/*   EXTENSIONS of buttons
=========================================== */
%btn-default {
  cursor: pointer;
  font-family: $oswald;
  font-size: 1.1em;
  border: none;
  padding: 0.5rem;
  margin: 2rem 0;
  text-align: center;
  display: block;
}

/*   MIXINS of buttons
=========================================== */
@mixin btn-background($color) {
  @extend %btn-default;
  border: 2px solid $color;
  color: $color;
}

.button-default {
  @include btn-background($btn-primary-color);
  @include btn-hover(true);
}
