/*   MIXINS of form
=========================================== */
@mixin form-layout() {
  .inner__line {
    text-align: center;
    min-width: 400px;
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    label {
      width: inherit;
    }
    input[type=text], textarea {
      border: none;
      line-height: 2.5rem;
      padding: 0.2rem 1rem;
      width: 100%;
    }
    textarea {
    }
  }
}
