/*   LAYOUT AND ELEMENTS that are common
=========================================== */
.section__content--recent {
  background-color: $bg-primary-color;
  @include parent-layout();
  .section__inner {
    @include child-layout('fullscreen');
  }
}
.section__content--about {
  @include angle('before');
  background-color: $bg-secundary-color;
  @include parent-layout(100%, 500px, flex);
  .section__inner {
    @include child-layout('two-columns-prio', 2rem);
    .section__inner--text {
      width: 600px;
    }
    .section__inner--image {

    }
  }
}
.section__content--experiments {
  background-color: $bg-tertiary-color;
  @include parent-layout($y: 500px, $direction: column);
  .section__inner {
    @include rollover-layout('ltr');
    @include child-layout('five-grid');
    .section__inner--image {
      height: 100%;
    }
    .image-container {
      @include image-default;
      float: left;
      width: 100%;
    }
    .image-overlay {
    }
  }
}
.section__content--experiments::after {
  @include pseudo;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: yellow;
}
.section__content--blog {
  @include parent-layout();
  .section__inner {
    @include child-layout('rows');
  }
}
