/*   EXTENSIONS of animation
=========================================== */
%bg-shadow-default {
  -webkit-box-shadow: 1px 10px 30px -22px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 10px 30px -22px rgba(0,0,0,0.5);
  box-shadow: 1px 10px 30px -22px rgba(0,0,0,0.5);
  transition: box-shadow 0.25s ease-in-out;
  &:hover {
    -webkit-box-shadow: 5px 14px 43px -9px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 14px 43px -9px rgba(0,0,0,0.5);
    box-shadow: 5px 14px 43px -9px rgba(0,0,0,0.5);
  }
}

/*   MIXINS of animation
=========================================== */
@mixin pseudo($display: block, $pos: absolute, $content: '') {
   content: $content;
   display: $display;
   position: $pos;
}
@mixin menu-item-slide($ltr: false) {
  position: relative;
  display: inline-block;
  padding-bottom: 6px;

  @if($ltr) {
    &:before {
      @include pseudo;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 0;
      transition: width 0s ease, background .5s ease;
      -webkit-transition: width 0s ease, background .5s ease;
    }
    &:after {
      @include pseudo;
      right: 0;
      bottom: 0;
      height: 3px;
      width: 0;
      background-color: $primary-white;
      transition: width .5s ease;
      -webkit-transition: width .5s ease;
    }
    &:hover::before {
      width: 100%;
      background-color: $primary-white;
      transition: width .5s ease;
      -webkit-transition: width .5s ease;
    }
    &:hover::after {
      width: 100%;
      background-color: transparent;
      transition: all 0s ease;
      -webkit-transition: all 0s ease;
    }
  }
}
@mixin btn-hover($ltr: false) {
  position: relative;
  @if($ltr) {
    &:before {
      @include pseudo;
      left: 0;
      bottom: 0;
      height: 100%;
      width: 0;
      position: absolute;
      transition: width 0s ease, background .5s ease;
      -webkit-transition: width 0s ease, background .5s ease;
    }
    &:after {
      @include pseudo;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 0;
      background-color: $primary-white;
      position: absolute;
      transition: width .5s ease;
      -webkit-transition: width .5s ease;
    }
    &:hover {
      color: $primary-orange;
    }
    &:hover::before {
      width: 100%;
      background-color: $primary-white;
      transition: width .5s ease;
      -webkit-transition: width .5s ease;
    }
    &:hover::after {
      width: 100%;
      background-color: transparent;
      transition: all 0s ease;
      -webkit-transition: all 0s ease;
    }
  }
}
