/*   MAIN color codes
=========================================== */
$mandarin: #EF7B45;
$vermilion: #D84727;
$azureish-white: #CDEDF6;
$moonstone-blue: #5EB1BF;
$dark-green: #042A2B;

/*   ORDER of color
=========================================== */
// Buttons
$btn-primary-color: $mandarin;

// Button text
$btn-text-primary-color: $azureish-white;

// Buttons on hover
$btn-state-primary-color: #FFF;
$btn-text-state-primary-color: #000;

// Hero text
$hero-head-primary: #FFF;
$hero-head-secundary: #FFF;
$hero-body-primary: #FFF;

// Head text
$head-text-primary-color: #CCC;
$head-text-secundary-color: #CCC;
$head-text-tertiary-color: #CCC;

// Body text
$body-text-primary-color: #000;
$body-text-secundary-color: #000;

// Link text
$link-text-primary-color: #000;
$link-text-secundary-color: #000;

// Links on hover
$link-text-state-primary-color: #FFF;

// Background
$bg-primary-color: #FFF;
$bg-secundary-color: #FFF;
$bg-tertiary-color: #FFF;

// Background on animations
$bg-state-primary-color: purple;
$bg-state-secundary-color: magenta;
$bg-state-tertiary-color: pink;
$bg-state-quaternary-color: lighten(pink, 0.5);
