/*   VARIABLES of typography
=========================================== */
$open-sans: 'Open Sans', sans-serif;
$oswald: 'Oswald', sans-serif;
$base-font-size: 1rem;
$base-line-height: 1.25 * $base-font-size;

/*   FUNCTIONS of typography
=========================================== */
// Setup a custom type-setting
$type-settings: (
	-1: (
		font-size: 0.75rem,
		line-height: $base-line-height
	),
	0: (
		font-size: 1rem,
		line-height: $base-line-height
	),
	1: (
		font-size: 1.333rem,
		line-height: $base-line-height * 2
	),
	2: (
		font-size: 1.778rem,
		line-height: $base-line-height * 2
	),
);

// Map through type-settings
@function type-scale($level) {
	@return map-get(
		map-get($type-settings, $level), 'font-size');
}

@function line-height($level) {
	@return map-get(
		map-get($type-settings, $level), 'line-height');
}

// Combine it all in a mixin
@mixin type-setting($level) {
	font-size: type-scale($level);
	line-height: line-height($level);
}

/*   DEFAULT of typography
=========================================== */
// Final composition
.heading-1 { @include type-setting(2); }
.heading-2 { @include type-setting(-1); }
.paragraph { @include type-setting(0); }
.button-default { @include type-setting(-1); }

// Default font-families
h1,h2,h3,h4,h5,h6 { font-family: $oswald; }
a, p {	font-family: $open-sans; }
