footer.footer__outer
  .footer__inner
    .footer__inner--col
      ul
        li
          h1 Contact Info
        li
    .footer__inner--col
      ul
        li
          a(href='') wim.d.boer0172@gmail.com
        li
          button.button-default Contact
    .footer__inner--col
      ul
        li
          h1 Social Media
        li
          span in
          span tw
          span fa
    .footer__inner--col
      ul
        li
          h1 Address
        li
          | De Maalderij
        li
          | Oude Nieuwveenseweg 118
        li
          | Nieuwveen
        li
          | 2441 AB
    .footer__inner--row
      .foot__logo logo
      .sub__nav
        ul
          li
            span Terms & Conditions
            span Privacy
            span Cookies
      .foot__go-up ^
      .sub__partner partner
// !footer__content
