block head
  header.head
    .head__logo
      a(href='../comp.html') logo
    nav.head__nav
      ul
        li.menu-slide--ltr
          a(href='views/cases.html') Case Studies
        li.menu-slide--ltr
          a(href='views/about.html') About
        li.menu-slide--ltr
          a(href='views/experiments.html') Experiments
        li.menu-slide--ltr
          a(href='views/blog.html') Blog
