/*   EXTENSIONS of elements
=========================================== */
%full-layout {
  width: 100%;
}
%two-layout {
  width: 50%;
}
%two-layout-prio {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  &:first-child {
    justify-content: flex-end;
    width: 25%;
  }
  @include media-q("desktop", min) {
    &:before, &:after {
      content: none;
    }
  }
}
%three-layout {
  width: 33.333%;
}
%five-grid {
  width: 33.333%;
  height: 50%;
  &:first-child {
    width: 33.333%;
    height: 100%;
    @include media-q("phone-wide", max) {
      width: 100%;
    }
  }
}
%six-grid {
  width: 33.333%;
}
%rows {
  width: 100%;
}
/*   MIXINS of elements
=========================================== */
@mixin child-layout($layout, $pad: 0) {
  padding: $pad;
  position: relative;
  @if $layout == 'fullscreen' { @extend %full-layout; }
  @if $layout == 'two-columns' { @extend %two-layout; }
  @if $layout == 'two-columns-prio' { @extend %two-layout-prio; }
  @if $layout == 'three-columns' { @extend %three-layout; }
  @if $layout == 'five-grid' { @extend %five-grid; }
  @if $layout == 'six-grid' { @extend %six-grid; }
  @if $layout == 'rows' { @extend %rows; }
}
@mixin parent-layout($x: 100%, $y: 100%, $display: flex, $direction: null) {
  position: relative;
  display: $display;
  @if($display == flex) {
    flex-wrap: wrap;
    flex-direction: $direction;
  }
  width: $x;
  height: $y;
}
