/*   LAYOUT AND ELEMENTS in footer
=========================================== */
.footer__outer {
  background: $bg-secundary-color;
  height: 400px;
  width: 100%;
}
.footer__inner {
}
.footer__inner--col {
  
  a {
    color: $link-text-primary-color;
  }
  h1 {
    color: $head-text-primary-color;
  }
  li {
    color: $body-text-primary-color;
  }
}
