/*   LAYOUT AND ELEMENTS in header
=========================================== */
.head {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: #FFF;
  .head__logo {
    padding-bottom: 0.45rem;
    flex: 1;
  }
  .head__nav {
    ul li {
      margin-left: 2rem;
    }
  }
  .menu-slide--ltr {
    @include menu-item-slide(true);
  }
}
